/* ==========================================================================
    Slider core styles
===========================================================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background-color: #444;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider {
  position: relative;
  width: 9999px;
}
.slider:before,
.slider:after {
  display: table;
  content: ' ';
}
.slider:after {
  clear: both;
}
.slider__item {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  height: 100%;
}
.slider__item img {
  display: block;
  max-width: 100%;
  height: auto;
}
.slider__switch span {
      color: rgb(255, 255, 255);
    display: block;
    width: 32px;
    height: 32px;
}
/* Arrows */
.slider__switch {
     position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    -webkit-user-select: none;
    fill: rgb(255, 255, 255);
    padding: 14px 6px;
    border-radius: 1px;
    background: rgb(232, 100, 90);
    transition: opacity 0.15s ease;
}
.slider__switch--prev {
  left: 10px;
    background-image: url(../img/index_020.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
.slider__switch--next {
  right: 10px;
    background-image: url(../img/index_05.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.slider__switch:hover {
  opacity: .85;
}
.slider__switch[disabled] {
    visibility: hidden;
    opacity: 0;
}
.slider__caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: block;
  max-width: 500px;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, .4);
  box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000'); /* ie8 */
}
.slider__caption[disabled] {
  opacity: 0;
  visibility: hidden;
}
.slider-nav {
      line-height: 30px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    z-index: 99999;
    background: rgb(243, 243, 243);
    margin: 0px;
    padding: 0px;
  }
.slider-nav__control {
     display: inline-block;
    width: 50px;
    height: 5px;
    margin: 0px 3px;
    transition: background 0.5s ease;
    background: rgb(176, 184, 185);
}

.slider-nav__control.is-active {
     display: inline-block;
    width: 50px;
    height: 5px;
    margin: 0px 3px;
    transition: background 0.5s ease;
    background: #e8645a;
}
.slider.has-touch {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor:    -moz-grabbing;
}
@media (max-width: 580px) {
  .slider__switch {
    display: none;
  }
  .slider__caption {
    display: none;
  }
}