	body {
    //max-width: 1024px;
      margin: 0 auto;
}
  * {
  	font-family: Gotham, Helvetika Neue , Arial, sans-serif;
	text-decoration: none;
	list-style-type: none; 
   }
   #header {
   	width: 100%;
   	height: 80px;
 background: #76c7c0;
 margin: 0 auto;
 max-width: 960px;
 background-image: url('../img/rectangle.png');
 background-repeat: repeat-x;
 background-position: bottom;
   }
   #header .container{
   	 height: 80px;
   } 
   .logo {
    height: 14px;
margin-top: 15px;
    float: left;
   }
	#navbar {
padding: 0;
text-align: center;
font-size: 12px;
padding-top: 8px;
}
#navbar li{
	float: left;
	display: block;
	    height: 25px;
}
.active {
   	   	color: white;
   	   	background-color: #62a29e;
   	   }
#navbar li:hover{
	background: #e8645a;
	border-radius: 3px;
}
#navbar img{
	margin-top: -3px;
	    vertical-align: middle;
}
#navbar a{
	display: block;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
#navbar li ul{
	    position: relative;
    margin-top: 2px;
    display: none;
    width: 50px;
    top:8px;
    z-index: 5;
}
#navbar li ul:before{
	content: "";
	position: absolute;
	top: -16px;
	border: 8px solid transparent;
border-bottom: 8px solid #e8645a;
display: block;
width: 0;
height: 0;
left: 10px;
}
#navbar li:hover ul {
display: block;
	}
	#navbar li ul li{
    width: 200px;
    background: #e8645a;
    margin-left: -40px;
    border: 5px solid #e8645a;
}
	#navbar li ul li:hover{
background: #76c7c0;
	border-radius: 3px;
	}
  .container{
    max-width: 960px;
    margin: 0 auto;
  }
    .services{
background-color: #ececec;
color: #7f8c8c;
font-size: 12px;
padding: 1px;
  }
  .services a{
    float: right;
    display: block;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: -30px;
margin-right: 5px;
  }
  .active_1{
        color: white;
        background-color: #e8645a;
  }
  .omg:hover {
        color: white;
        background-color: #e8645a;
       }
  #section_1 {

  background: #76c7c0;
  height: 80px;
  background-image: url('../img/rectangle.png');
   background-repeat: repeat-x;
 background-position: bottom;
}
#section_2 {
  background: #f3f3f3;
  height: 450px;
}
 .services h2{
  margin-left: 5px;
 }
 .bam_1{
max-width: 220px;
//padding: 5px;
//padding-bottom: 40px;
background-color:  #f8f8f8;
text-align: center;
border-radius: 5px;
max-height: 280px;
min-height: 280px;
margin-top: 30px;
 }
 .bam_1:hover{
max-width: 220px;
//padding: 5px;
//padding-bottom: 40px;
background-color: #fff;
text-align: center;
border-radius: 5px;
max-height: 280px;
min-height: 280px;
margin-top: 30px;
 }
 .bam_1 img{
  margin-top: 15px;
 }
 .bam_1 h5{
  margin-top: -1px;
 }
.bam_2{
max-width: 220px;
padding: 5px;
//padding-bottom: 40px;
background-color: #f8f8f8;
text-align: center;
border-radius: 5px;
max-height: 280px;
min-height: 280px;
margin-left: 26px;
margin-top: 30px;
 }
  .bam_2 img{
  margin-top: 15px;
 }
 .bam_2 h5{
  margin-top: -1px;
 }
.hp {
  float: left;
 }
 .bam_1 a{
      float: bottom ;
    display: block;
  color: #fff;
padding: 10px 5px;
  border-radius: 5px;
margin-top: 80px;
max-width: 150px;
margin-left: 36px;
background-color: #62a29e;
}
 .bam_2 a{
    display: block;
  color: #fff;
padding: 10px 5px;
  border-radius: 5px;
  //margin : 0 auto;
max-width: 150px;
margin-left: 36px;
background-color: #62a29e;
 }
 .bam_2:hover{
max-width: 220px;
padding: 5px;
//padding-bottom: 40px;
background-color: #FFF;
text-align: center;
border-radius: 5px;
max-height: 280px;
min-height: 280px;
margin-left: 26px;
margin-top: 30px;
 }
  .lm {
margin-top: 43px;
  }
  .ml{
    margin-top: 97px;
  }
  .lml{
    margin-top: 80px;
  }
  #section_3{
    background: #ececec;
  height: 350px;
  //height: 900px;
  background-image: url('../img/index123.png');
   background-repeat: repeat-x;
 background-position: top;
  }
  .why {
text-align: center;
margin-top: -20px;
padding: 50px;
  }
  .why h1{
     color: #e1524b;
     margin-top: 20px;
  }
  .why p{
    color: #777777;
    margin-top: 20px;
  }
#section_4{
  background: #f3f3f3;
  height: 1000px;
}
.zzz{
max-width: 230px;
background: #123123;
}
.zzz_2{
max-width: 500px;
background: #000;
}
